# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Dataset
Reviews.csv

# IDE
.vscode/
.idea/

# Misc
*.DS_Store
*.log
*.bak
*.swp

# Virtual environments
*.venv/

# Transformers cache
*.cache/
*.bin
